/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffcc00 #333;
}
